@model (IQueryable<Order> Orders, string TableTitle, string ButtonLabel, string CallbackMethodName)

<table class="table table-sm table-striped table-bordered">
    <thead>
        <tr><th scope="col" colspan="5" class="text-center">@Model.TableTitle</th></tr>
    </thead>
    <tbody>
        @if (Model.Orders.Any())
        {
            <tr>
                <th scope="col">Client Name</th>
                <th scope="col">Order Price</th>
                <th scope="col">Zip</th>
            </tr>

            @foreach (Order o in Model.Orders)
            {
                <tr>
                    <td>@o.Name</td>
                    <td>@o.Lines.Sum(line => line.Quantity * line.Product.Price)</td>
                    <td>@o.Zip</td>
                    <td>
                        <form asp-action=@Model.CallbackMethodName method="post">
                            <input type="hidden" name="OrderId" value="@o.OrderId" />
                            <button type="submit" class="btn btn-sm btn-danger">
                                @Model.ButtonLabel
                            </button>
                        </form>
                    </td>
                    <td>
                        <a class="btn btn-info btn-sm" asp-controller="Admin" asp-action="OrderDetails" asp-route-orderId="@o.OrderId">
                            Details
                        </a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr><td colspan="5" class="text-center">No Orders</td></tr>
        }
    </tbody>
</table>
